<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zurich Interface</title>

    <!-- {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"> -->
    

    <script>
        function filterTables() {
            const input = document.getElementById("searchInput");
            const filter = input.value.toLowerCase();
            const select = document.getElementById("tablaSelect");
            const options = select.options;

            for (let i = 0; i < options.length; i++) {
                const txtValue = options[i].text.toLowerCase();
                options[i].style.display = txtValue.includes(filter) ? "" : "none";
            }
        }

        function addSelectedFields() {
            const select = document.getElementById("campoSelect");
            const selectedFieldsContainer = document.getElementById("selectedFields");

            for (let i = 0; i < select.options.length; i++) {
                if (select.options[i].selected) {
                    // Crear un nuevo elemento de lista para el campo seleccionado
                    const listItem = document.createElement("div");
                    listItem.className = "list-item";
                    listItem.textContent = select.options[i].value;

                    // Crear un botón para eliminar el campo de la lista
                    const removeButton = document.createElement("button");
                    removeButton.textContent = "Eliminar";
                    removeButton.onclick = function() {
                        selectedFieldsContainer.removeChild(listItem);
                    };

                    listItem.appendChild(removeButton);
                    selectedFieldsContainer.appendChild(listItem);
                }
            }

            // Deseleccionar los campos después de agregarlos
            select.selectedIndex = -1;
        }
    </script>
</head>
<body>
    <h1>Tablas en la base de datos</h1>
    <form method="POST" action="{% url 'consultar_campos' %}">
        {% csrf_token %}
        <div class="select-container">
            <input type="text" id="searchInput" onkeyup="filterTables()" placeholder="Buscar tablas...">
            <select id="tablaSelect" name="tabla" onchange="this.form.submit()">
                {% for tabla in tablas %}
                    <option value="{{ tabla }}">{{ tabla }}</option>
                {% empty %}
                    <option value="">No hay tablas disponibles.</option>
                {% endfor %}
            </select>
        </div>
    </form>

{% if campos %}
<h2>Selecciona los campos de la tabla: {{ tabla }}</h2>
<form method="POST" action="{% url 'procesar_campos' %}">
    {% csrf_token %}
    <input type="hidden" name="tabla" value="{{ tabla }}">
    <div class="select-container">
        <h3>Selecciona los campos:</h3>
        <ul id="campoSelect">
            {% for campo in campos %}
                <li>
                    <label>
                        <input type="checkbox" name="campos" value="{{ campo }}">
                        {{ campo }}
                    </label>
                </li>
            {% empty %}
                <li>No hay campos disponibles.</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Contenedor para filtros (inicialmente oculto) -->
    <div id="filtros" style="display: none;">
        <h3>Filtros:</h3>
    </div>

    <button type="button" onclick="agregarFiltro()">Agregar Filtro</button>

    <button type="submit">Procesar Selección y Exportar CSV</button>
</form>

<script>
    let filtroCount = 0;  // Inicializa filtroCount en 0

    function agregarFiltro() {
        // Mostrar el contenedor de filtros la primera vez que se llama a la función
        if (filtroCount === 0) {
            document.getElementById("filtros").style.display = "block";
        }

        filtroCount++;
        const filtrosContainer = document.getElementById("filtros");

        const nuevoFiltro = document.createElement("div");
        nuevoFiltro.className = "filtro";
        nuevoFiltro.id = `filtro-${filtroCount}`;

        nuevoFiltro.innerHTML = `
            <select name="filtroLogica-${filtroCount}" ${filtroCount === 1 ? 'style="display: none;"' : ''}>
                <option value="AND">AND</option>
                <option value="OR">OR</option>
            </select>
            <select name="filtroCampo-${filtroCount}">
                <option value="">Seleccionar campo</option>
                {% for campo in campos %}
                    <option value="{{ campo }}">{{ campo }}</option>
                {% endfor %}
            </select>
            <select name="filtroComparador-${filtroCount}">
                <option value="=">=</option>
                <option value="<"><</option>
                <option value=">">></option>
                <option value="<>"><> (diferente)</option>
                <option value="LIKE">LIKE</option>
            </select>
            <input type="text" name="filtroValor-${filtroCount}" placeholder="Valor a filtrar">
            <button type="button" onclick="removerFiltro(this)">Eliminar</button>
        `;

        filtrosContainer.appendChild(nuevoFiltro);
    }

    function removerFiltro(button) {
        const filtroDiv = button.parentElement;
        filtroDiv.remove();
        filtroCount--;  // Decrementa el contador si se elimina un filtro
    }
</script>
{% endif %}

<!-- homeQuery.html -->


<form method="POST" action="{% url 'procesar_consulta_predefinida' %}">
    <h2>Consultas Predefinidas</h2>
    {% csrf_token %}
    <div>
        <label for="consultaSelect">Selecciona una consulta:</label>
        <select id="consultaSelect" name="consulta" onchange="toggleParamFields()">
            <option value="">Seleccionar consulta</option>
            {% for consulta, valores in predefined_queries.items %}
                {% with nombre=valores.0 query=valores.1 %}
                    <option value="{{ consulta }}">{{ nombre }}</option>
                {% endwith %}
            {% endfor %}
        </select>
    </div>

    <div id="paramFields" style="display:none;">
        <label for="parametro1">Parametro 1:</label>
        <input type="text" name="parametro1" required>

        <label for="parametro2">Parametro 2:</label>
        <input type="text" name="parametro2" required>
    </div>

    <button type="submit">Ejecutar Consulta</button>
</form>

<script>
    function toggleParamFields() {
        const select = document.getElementById("consultaSelect");
        const paramFields = document.getElementById("paramFields");
        paramFields.style.display = select.value ? "block" : "none";
    }
</script>


</body>
</html>
