<!-- templates/db_query/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" type="text/css" href="../db_query/css/loginStyles.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet"> -->
    
    


</head>
<body>
    
    <div class="background"></div>
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    
    <form method="POST" action="{% url 'login' %}">
        <h3>Iniciar Sesión</h3>
        {% csrf_token %}
        <label for="host">Host:</label>
        <input type="text" id="host" name="host" required><br>

        <label for="database">Base de Datos:</label>
        <input type="text" id="database" name="database" required><br>

        <label for="port">Puerto:</label>
        <input type="text" id="port" name="port" required><br>

        <label for="user">Usuario:</label>
        <input type="text" id="user" name="user" required><br>

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" placeholder="Password" required><br>

        <button type="submit">Iniciar Sesión</button>

    </form>
</body>
</html>